# Learn Basics Final Task :
This Python Notebook is the final task from Learn Basics. 

**Done by Aditya Kiran Pal**
|| **Gmail :** adityakiran.cs@gmail.com
|| **Phone No. : 8118996525**

**Problem Statement :** Given a csv or xlsx like [input](https://learnbasicsfun-my.sharepoint.com/:x:/g/personal/saran_learnbasics_fun/EWVde3y0mgFDqak-3f9sfwEBJDWEHCjEZ6h7j_HqLICvcw?e=gvGVVA), format the csv file according to this [output](https://learnbasicsfun-my.sharepoint.com/:x:/g/personal/saran_learnbasics_fun/EYzUTOhjve9PjTLEBmvJm80BkcubyfbD9ulscGNxgFMT9w?e=eyxsdb). Remove those tests whose parameters are empty.

### Dependencies :
- openpyxl (dependency required to read excel files)
- pandas

### Importing Libraries

In [1]:
import pandas as pd

### Loading Data :

In [2]:
# Enter path of the xlsx file
file1_path = './input/Input_1.xlsx' 
file2_path = './input/Input_2.xlsx'

In [3]:
# Reading excel file using read_excel() method. sheet_name must be specified or method will return a
# dictionary containing all sheets in the excel file

df1 = pd.read_excel(file1_path, sheet_name='in')
df2 = pd.read_excel(file2_path, sheet_name='in')

In [4]:
#Alternatively csv file can be read using pandas
# file1_path = './input/Input_1.csv' 
# file2_path = './input/Input_2.csv'

# df1 = pd.read_csv(file_name1)
# df2 = pd.read_csv(file_name2)

In [5]:
df1.head() # prints first 5 rows of the DataFrame

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S11,4,118,4,4,0,1,1,...,10,6,4,0,6,397,10,6,4,0
1,Durga,35,C8S11,3,886,5,3,2,0,3,...,10,4,6,0,6,539,10,6,4,0
2,Idhaz,36,C8S11,5,112,5,5,0,0,3,...,10,4,6,0,8,583,10,8,2,0
3,Kishore,37,C8S11,1,29,3,1,2,2,-,...,10,4,6,0,0,37,9,0,9,1
4,Mano,38,C8S11,4,242,5,4,1,0,0,...,10,4,6,0,2,657,10,2,8,0

In [6]:
df2.head()

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S10,-,-,-,-,-,-,3,...,6,3,3,4,6,270,10,6,4,0
1,Durga,35,C8S10,-,-,-,-,-,-,-,...,10,5,5,0,6,1066,10,6,4,0
2,Idhaz,36,C8S10,2,125,5,2,3,0,4,...,10,6,4,0,8,717,10,8,2,0
3,Kishore,37,C8S10,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Mano,38,C8S10,2,136,5,2,3,0,3,...,-,-,-,-,4,509,10,4,6,0

### Function to generate output DataFrame :

In [7]:
def Format(df): #DataFrame to be passed as arguement
    
    data_output = []
    
    # Output DataFrame Columns
    columns_output = ['Name','Username','Chapter Tag','Test_Name','score','time-taken (seconds)','answered','correct','wrong','skipped']
    
    n_names = df.shape[0]      # No of rows in input file
    n_columns = df.shape[1]    # No of columns in input file
    
    # Iterate through each row and append data in data_output
    
    for i in range(n_names):
        Name = df['Name'][i]
        Username = df['id'][i]
        ChapterTag = df['Chapter Tag'][i]
        
        j=3
        while j<n_columns:
            Data = [Name,Username,ChapterTag]
            if df.iloc[i][j]=='-':
                j+=6
                continue
            Data.append(df.columns[j].replace(' - score',''))
            Data.extend([df.iloc[i][j], df.iloc[i][j+1], df.iloc[i][j+2], df.iloc[i][j+3], df.iloc[i][j+4], df.iloc[i][j+5]])
            print(Data)
            data_output.append(Data)
            j+= 6
    
    # Creating output DataFrame
    df_output = pd.DataFrame(data_output,columns=columns_output)
    
    # Rearranging columns to match given file :
    df_output = df_output[['Name','Username','Chapter Tag','Test_Name','answered','correct','score','skipped','time-taken (seconds)','wrong']]
    
    return df_output

In [8]:
df_output1 = Format(df1)

['Darshan', 34, 'C8S11', 'Concept Test 1', 4, 118, 4, 4, 0, 1]
['Darshan', 34, 'C8S11', 'Concept Test 2', 1, 320, 4, 1, 3, 1]
['Darshan', 34, 'C8S11', 'Concept Test 3', 4, 199, 5, 4, 1, 0]
['Darshan', 34, 'C8S11', 'Concept Test 4', 3, 161, 5, 3, 2, 0]
['Darshan', 34, 'C8S11', 'Topic Test 1', 5, 341, 10, 5, 5, 0]
['Darshan', 34, 'C8S11', 'Concept Test 5', 3, 122, 5, 3, 2, 0]
['Darshan', 34, 'C8S11', 'Topic Test 2', 6, 388, 10, 6, 4, 0]
['Darshan', 34, 'C8S11', 'Full Chapter Test 1', 6, 496, 10, 6, 4, 0]
['Darshan', 34, 'C8S11', 'Full Chapter Test 2', 6, 397, 10, 6, 4, 0]
['Durga', 35, 'C8S11', 'Concept Test 1', 3, 886, 5, 3, 2, 0]
['Durga', 35, 'C8S11', 'Concept Test 2', 3, 1176, 5, 3, 2, 0]
['Durga', 35, 'C8S11', 'Concept Test 3', 2, 732, 5, 2, 3, 0]
['Durga', 35, 'C8S11', 'Concept Test 4', 4, 312, 5, 4, 1, 0]
['Durga', 35, 'C8S11', 'Topic Test 1', 5, 788, 10, 5, 5, 0]
['Durga', 35, 'C8S11', 'Concept Test 5', 4, 525, 5, 4, 1, 0]
['Durga', 35, 'C8S11', 'Topic Test 2', 6, 678, 9, 6, 3, 1]
['Durga', 35, 'C8S11', 'Full Chapter Test 1', 4, 1028, 10, 4, 6, 0]
['Durga', 35, 'C8S11', 'Full Chapter Test 2', 6, 539, 10, 6, 4, 0]
['Idhaz', 36, 'C8S11', 'Concept Test 1', 5, 112, 5, 5, 0, 0]
['Idhaz', 36, 'C8S11', 'Concept Test 2', 3, 146, 5, 3, 2, 0]
['Idhaz', 36, 'C8S11', 'Concept Test 3', 4, 126, 5, 4, 1, 0]
['Idhaz', 36, 'C8S11', 'Concept Test 4', 3, 130, 5, 3, 2, 0]
['Idhaz', 36, 'C8S11', 'Topic Test 1', 7, 461, 10, 7, 3, 0]
['Idhaz', 36, 'C8S11', 'Concept Test 5', 3, 211, 5, 3, 2, 0]
['Idhaz', 36, 'C8S11', 'Topic Test 2', 8, 390, 10, 8, 2, 0]
['Idhaz', 36, 'C8S11', 'Full Chapter Test 1', 4, 559, 10, 4, 6, 0]
['Idhaz', 36, 'C8S11', 'Full Chapter Test 2', 8, 583, 10, 8, 2, 0]
['Kishore', 37, 'C8S11', 'Concept Test 1', 1, 29, 3, 1, 2, 2]
['Kishore', 37, 'C8S11', 'Concept Test 4', 0, 98, 5, 0, 5, 0]
['Kishore', 37, 'C8S11', 'Topic Test 1', 0, 283, 8, 0, 8, 2]
['Kishore', 37, 'C8S11', 'Topic Test 2', 1, 128, 9, 1, 8, 1]
['Kishore', 37, 'C8S11', 'Full Chapter Test 1', 4, 707, 10, 4, 6, 0]
['Kishore', 37, 'C8S11', 'Full Chapter Test 2', 0, 37, 9, 0, 9, 1]
['Mano', 38, 'C8S11', 'Concept Test 1', 4, 242, 5, 4, 1, 0]
['Mano', 38, 'C8S11', 'Concept Test 2', 0, 136, 5, 0, 5, 0]
['Mano', 38, 'C8S11', 'Concept Test 3', 1, 753, 5, 1, 4, 0]
['Mano', 38, 'C8S11', 'Concept Test 4', 2, 497, 5, 2, 3, 0]
['Mano', 38, 'C8S11', 'Topic Test 1', 2, 785, 10, 2, 8, 0]
['Mano', 38, 'C8S11', 'Concept Test 5', 4, 721, 5, 4, 1, 0]
['Mano', 38, 'C8S11', 'Topic Test 2', 5, 722, 10, 5, 5, 0]
['Mano', 38, 'C8S11', 'Full Chapter Test 1', 4, 1054, 10, 4, 6, 0]
['Mano', 38, 'C8S11', 'Full Chapter Test 2', 2, 657, 10, 2, 8, 0]
['Nandha', 39, 'C8S11', 'Concept Test 1', 3, 55, 5, 3, 2, 0]
['Nandha', 39, 'C8S11', 'Concept Test 2', 0, 25, 5, 0, 5, 0]
['Nandha', 39, 'C8S11', 'Concept Test 3', 1, 15, 5, 1, 4, 0]
['Nandha', 39, 'C8S11', 'Concept Test 4', 1, 2, 4, 1, 3, 1]
['Nandha', 39, 'C8S11', 'Topic Test 1', 3, 14, 10, 3, 7, 0]
['Nandha', 39, 'C8S11', 'Concept Test 5', 4, 30, 5, 4, 1, 0]
['Nandha', 39, 'C8S11', 'Topic Test 2', 3, 59, 10, 3, 7, 0]
['Nandha', 39, 'C8S11', 'Full Chapter Test 1', 2, 33, 9, 2, 7, 1]
['Nandha', 39, 'C8S11', 'Full Chapter Test 2', 0, 30, 10, 0, 10, 0]
['Nandhini', 40, 'C8S11', 'Concept Test 1', 5, 120, 5, 5, 0, 0]
['Nandhini', 40, 'C8S11', 'Concept Test 2', 3, 281, 5, 3, 2, 0]
['Nandhini', 40, 'C8S11', 'Concept Test 3', 4, 134, 5, 4, 1, 0]
['Nandhini', 40, 'C8S11', 'Concept Test 4', 5, 145, 5, 5, 0, 0]
['Nandhini', 40, 'C8S11', 'Topic Test 1', 7, 388, 10, 7, 3, 0]
['Nandhini', 40, 'C8S11', 'Concept Test 5', 4, 196, 5, 4, 1, 0]
['Nandhini', 40, 'C8S11', 'Topic Test 2', 6, 502, 10, 6, 4, 0]
['Nandhini', 40, 'C8S11', 'Full Chapter Test 1', 7, 428, 10, 7, 3, 0]
['Nandhini', 40, 'C8S11', 'Full Chapter Test 2', 5, 691, 10, 5, 5, 0]
['Rubika', 42, 'C8S11', 'Concept Test 1', 2, 138, 5, 2, 3, 0]
['Rubika', 42, 'C8S11', 'Concept Test 2', 0, 107, 5, 0, 5, 0]
['Rubika', 42, 'C8S11', 'Concept Test 3', 2, 110, 5, 2, 3, 0]
['Rubika', 42, 'C8S11', 'Concept Test 4', 3, 102, 5, 3, 2, 0]
['Rubika', 42, 'C8S11', 'Topic Test 1', 5, 246, 9, 5, 4, 1]
['Rubika', 42, 'C8S11', 'Concept Test 5', 3, 113, 4, 3, 1, 1]
['Rubika', 42, 'C8S11', 'Topic Test 2', 6, 188, 10, 6, 4, 0]
['Rubika', 42, 'C8S11', 'Full Chapter Test 1', 7, 372, 10, 7, 3, 0]
['Rubika', 42, 'C8S11', 'Full Chapter Test 2', 5, 280, 10, 5, 5, 0]
['Saila', 43, 'C8S11', 'Concept Test 2', 0, 121, 5, 0, 5, 0]
['Saila', 43, 'C8S11', 'Concept Test 5', 2, 23, 5, 2, 3, 0]
['Shankar', 44, 'C8S11', 'Concept Test 1', 1, 65, 5, 1, 4, 0]
['Shankar', 44, 'C8S11', 'Concept Test 2', 1, 79, 5, 1, 4, 0]
['Shankar', 44, 'C8S11', 'Concept Test 3', 1, 84, 5, 1, 4, 0]
['Shankar', 44, 'C8S11', 'Concept Test 4', 1, 89, 5, 1, 4, 0]
['Shankar', 44, 'C8S11', 'Topic Test 1', 5, 165, 10, 5, 5, 0]
['Shankar', 44, 'C8S11', 'Concept Test 5', 5, 90, 5, 5, 0, 0]
['Shankar', 44, 'C8S11', 'Topic Test 2', 5, 131, 10, 5, 5, 0]
['Shankar', 44, 'C8S11', 'Full Chapter Test 1', 4, 307, 10, 4, 6, 0]
['Shankar', 44, 'C8S11', 'Full Chapter Test 2', 2, 143, 10, 2, 8, 0]
['Tarun', 45, 'C8S11', 'Concept Test 1', 3, 71, 5, 3, 2, 0]
['Tarun', 45, 'C8S11', 'Concept Test 2', 2, 110, 5, 2, 3, 0]
['Tarun', 45, 'C8S11', 'Concept Test 4', 3, 80, 5, 3, 2, 0]
['Tarun', 45, 'C8S11', 'Topic Test 1', 4, 166, 9, 4, 5, 1]
['Tarun', 45, 'C8S11', 'Concept Test 5', 4, 67, 5, 4, 1, 0]
['Tarun', 45, 'C8S11', 'Topic Test 2', 4, 134, 9, 4, 5, 1]
['Tarun', 45, 'C8S11', 'Full Chapter Test 1', 1, 335, 4, 1, 3, 6]
['Tarun', 45, 'C8S11', 'Full Chapter Test 2', 1, 139, 9, 1, 8, 1]
['Thanis', 46, 'C8S11', 'Concept Test 1', 5, 199, 5, 5, 0, 0]
['Thanis', 46, 'C8S11', 'Concept Test 2', 2, 156, 5, 2, 3, 0]
['Thanis', 46, 'C8S11', 'Concept Test 3', 3, 64, 5, 3, 2, 0]
['Thanis', 46, 'C8S11', 'Concept Test 4', 1, 104, 5, 1, 4, 0]
['Thanis', 46, 'C8S11', 'Topic Test 1', 4, 169, 10, 4, 6, 0]
['Thanis', 46, 'C8S11', 'Concept Test 5', 4, 150, 5, 4, 1, 0]
['Thanis', 46, 'C8S11', 'Topic Test 2', 8, 202, 10, 8, 2, 0]
['Thanis', 46, 'C8S11', 'Full Chapter Test 1', 3, 442, 10, 3, 7, 0]
['Thanis', 46, 'C8S11', 'Full Chapter Test 2', 1, 72, 10, 1, 9, 0]
['Vignesh', 47, 'C8S11', 'Concept Test 1', 3, 115, 5, 3, 2, 0]
['Vignesh', 47, 'C8S11', 'Concept Test 2', 2, 118, 5, 2, 3, 0]
['Vignesh', 47, 'C8S11', 'Concept Test 3', 1, 92, 5, 1, 4, 0]
['Vignesh', 47, 'C8S11', 'Concept Test 4', 2, 127, 5, 2, 3, 0]
['Vignesh', 47, 'C8S11', 'Topic Test 1', 3, 214, 10, 3, 7, 0]
['Vignesh', 47, 'C8S11', 'Concept Test 5', 4, 53, 5, 4, 1, 0]
['Vignesh', 47, 'C8S11', 'Topic Test 2', 6, 84, 9, 6, 3, 1]
['Vignesh', 47, 'C8S11', 'Full Chapter Test 1', 4, 128, 10, 4, 6, 0]

In [9]:
df_output1

,Name,Username,Chapter Tag,Test_Name,answered,correct,score,skipped,time-taken (seconds),wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
1,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,3
2,Darshan,34,C8S11,Concept Test 3,5,4,4,0,199,1
3,Darshan,34,C8S11,Concept Test 4,5,3,3,0,161,2
4,Darshan,34,C8S11,Topic Test 1,10,5,5,0,341,5
...,...,...,...,...,...,...,...,...,...,...
100,Vignesh,47,C8S11,Concept Test 4,5,2,2,0,127,3
101,Vignesh,47,C8S11,Topic Test 1,10,3,3,0,214,7
102,Vignesh,47,C8S11,Concept Test 5,5,4,4,0,53,1
103,Vignesh,47,C8S11,Topic Test 2,9,6,6,1,84,3
104,Vignesh,47,C8S11,Full Chapter Test 1,10,4,4,0,128,6

In [10]:
df_output2 = Format(df2)

['Darshan', 34, 'C8S10', 'Concept Test 2', 3, 187, 4, 3, 1, 1]
['Darshan', 34, 'C8S10', 'Topic Test 1', 6, 365, 8, 6, 2, 2]
['Darshan', 34, 'C8S10', 'Concept Test 3', 3, 175, 3, 3, 0, 2]
['Darshan', 34, 'C8S10', 'Concept Test 4', 3, 91, 4, 3, 1, 1]
['Darshan', 34, 'C8S10', 'Concept Test 5', 3, 84, 3, 3, 0, 2]
['Darshan', 34, 'C8S10', 'Topic Test 2', 6, 234, 8, 6, 2, 2]
['Darshan', 34, 'C8S10', 'Full Chapter Test 1', 3, 74, 6, 3, 3, 4]
['Darshan', 34, 'C8S10', 'Full Chapter Test 2', 6, 270, 10, 6, 4, 0]
['Durga', 35, 'C8S10', 'Concept Test 4', 4, 665, 5, 4, 1, 0]
['Durga', 35, 'C8S10', 'Concept Test 5', 4, 360, 5, 4, 1, 0]
['Durga', 35, 'C8S10', 'Topic Test 2', 7, 691, 10, 7, 3, 0]
['Durga', 35, 'C8S10', 'Full Chapter Test 1', 5, 1674, 10, 5, 5, 0]
['Durga', 35, 'C8S10', 'Full Chapter Test 2', 6, 1066, 10, 6, 4, 0]
['Idhaz', 36, 'C8S10', 'Concept Test 1', 2, 125, 5, 2, 3, 0]
['Idhaz', 36, 'C8S10', 'Concept Test 2', 4, 79, 5, 4, 1, 0]
['Idhaz', 36, 'C8S10', 'Topic Test 1', 7, 181, 10, 7, 3, 0]
['Idhaz', 36, 'C8S10', 'Concept Test 3', 5, 85, 5, 5, 0, 0]
['Idhaz', 36, 'C8S10', 'Concept Test 5', 5, 171, 5, 5, 0, 0]
['Idhaz', 36, 'C8S10', 'Topic Test 2', 6, 303, 10, 6, 4, 0]
['Idhaz', 36, 'C8S10', 'Full Chapter Test 1', 6, 58, 10, 6, 4, 0]
['Idhaz', 36, 'C8S10', 'Full Chapter Test 2', 8, 717, 10, 8, 2, 0]
['Kishore', 37, 'C8S10', 'Concept Test 5', 3, 79, 5, 3, 2, 0]
['Kishore', 37, 'C8S10', 'Topic Test 2', 6, 285, 10, 6, 4, 0]
['Mano', 38, 'C8S10', 'Concept Test 1', 2, 136, 5, 2, 3, 0]
['Mano', 38, 'C8S10', 'Concept Test 2', 3, 559, 5, 3, 2, 0]
['Mano', 38, 'C8S10', 'Topic Test 1', 4, 619, 10, 4, 6, 0]
['Mano', 38, 'C8S10', 'Concept Test 3', 2, 139, 5, 2, 3, 0]
['Mano', 38, 'C8S10', 'Full Chapter Test 2', 4, 509, 10, 4, 6, 0]
['Nandha', 39, 'C8S10', 'Concept Test 2', 0, 40, 5, 0, 5, 0]
['Nandha', 39, 'C8S10', 'Topic Test 1', 4, 91, 10, 4, 6, 0]
['Nandha', 39, 'C8S10', 'Concept Test 3', 2, 33, 5, 2, 3, 0]
['Nandha', 39, 'C8S10', 'Concept Test 4', 3, 41, 5, 3, 2, 0]
['Nandha', 39, 'C8S10', 'Concept Test 5', 1, 9, 5, 1, 4, 0]
['Nandha', 39, 'C8S10', 'Topic Test 2', 3, 12, 10, 3, 7, 0]
['Nandha', 39, 'C8S10', 'Full Chapter Test 2', 1, 50, 10, 1, 9, 0]
['Nandhini', 40, 'C8S10', 'Concept Test 1', 2, 267, 5, 2, 3, 0]
['Nandhini', 40, 'C8S10', 'Concept Test 2', 4, 239, 5, 4, 1, 0]
['Nandhini', 40, 'C8S10', 'Topic Test 1', 6, 362, 10, 6, 4, 0]
['Nandhini', 40, 'C8S10', 'Concept Test 3', 4, 104, 5, 4, 1, 0]
['Nandhini', 40, 'C8S10', 'Concept Test 4', 4, 152, 5, 4, 1, 0]
['Nandhini', 40, 'C8S10', 'Concept Test 5', 4, 106, 5, 4, 1, 0]
['Nandhini', 40, 'C8S10', 'Topic Test 2', 7, 273, 10, 7, 3, 0]
['Nandhini', 40, 'C8S10', 'Full Chapter Test 2', 9, 474, 10, 9, 1, 0]
['Rubika', 42, 'C8S10', 'Concept Test 1', 3, 194, 5, 3, 2, 0]
['Rubika', 42, 'C8S10', 'Concept Test 2', 3, 72, 5, 3, 2, 0]
['Rubika', 42, 'C8S10', 'Topic Test 1', 5, 495, 10, 5, 5, 0]
['Rubika', 42, 'C8S10', 'Concept Test 3', 3, 118, 5, 3, 2, 0]
['Rubika', 42, 'C8S10', 'Concept Test 4', 3, 195, 5, 3, 2, 0]
['Rubika', 42, 'C8S10', 'Concept Test 5', 2, 90, 5, 2, 3, 0]
['Rubika', 42, 'C8S10', 'Topic Test 2', 4, 319, 10, 4, 6, 0]
['Rubika', 42, 'C8S10', 'Full Chapter Test 2', 6, 247, 10, 6, 4, 0]
['Saila', 43, 'C8S10', 'Concept Test 1', 2, 33, 5, 2, 3, 0]
['Saila', 43, 'C8S10', 'Concept Test 2', 3, 57, 5, 3, 2, 0]
['Saila', 43, 'C8S10', 'Topic Test 1', 4, 80, 10, 4, 6, 0]
['Saila', 43, 'C8S10', 'Concept Test 3', 2, 42, 5, 2, 3, 0]
['Saila', 43, 'C8S10', 'Concept Test 4', 1, 172, 5, 1, 4, 0]
['Saila', 43, 'C8S10', 'Concept Test 5', 3, 73, 5, 3, 2, 0]
['Saila', 43, 'C8S10', 'Topic Test 2', 3, 96, 10, 3, 7, 0]
['Saila', 43, 'C8S10', 'Full Chapter Test 1', 4, 53, 10, 4, 6, 0]
['Shankar', 44, 'C8S10', 'Concept Test 2', 3, 63, 5, 3, 2, 0]
['Shankar', 44, 'C8S10', 'Topic Test 1', 0, 221, 10, 0, 10, 0]
['Shankar', 44, 'C8S10', 'Concept Test 3', 3, 69, 5, 3, 2, 0]
['Tarun', 45, 'C8S10', 'Concept Test 3', 3, 281, 5, 3, 2, 0]
['Tarun', 45, 'C8S10', 'Concept Test 5', 2, 67, 5, 2, 3, 0]
['Tarun', 45, 'C8S10', 'Topic Test 2', 3, 53, 10, 3, 7, 0]
['Tarun', 45, 'C8S10', 'Full Chapter Test 1', 4, 1082, 10, 4, 6, 0]
['Thanis', 46, 'C8S10', 'Concept Test 3', 1, 83, 5, 1, 4, 0]
['Thanis', 46, 'C8S10', 'Concept Test 4', 2, 70, 4, 2, 2, 1]
['Thanis', 46, 'C8S10', 'Concept Test 5', 2, 108, 5, 2, 3, 0]
['Thanis', 46, 'C8S10', 'Topic Test 2', 4, 73, 10, 4, 6, 0]
['Thanis', 46, 'C8S10', 'Full Chapter Test 1', 3, 183, 10, 3, 7, 0]
['Thanis', 46, 'C8S10', 'Full Chapter Test 2', 7, 123, 10, 7, 3, 0]

In [11]:
df_output2

,Name,Username,Chapter Tag,Test_Name,answered,correct,score,skipped,time-taken (seconds),wrong
0,Darshan,34,C8S10,Concept Test 2,4,3,3,1,187,1
1,Darshan,34,C8S10,Topic Test 1,8,6,6,2,365,2
2,Darshan,34,C8S10,Concept Test 3,3,3,3,2,175,0
3,Darshan,34,C8S10,Concept Test 4,4,3,3,1,91,1
4,Darshan,34,C8S10,Concept Test 5,3,3,3,2,84,0
...,...,...,...,...,...,...,...,...,...,...
67,Thanis,46,C8S10,Concept Test 4,4,2,2,1,70,2
68,Thanis,46,C8S10,Concept Test 5,5,2,2,0,108,3
69,Thanis,46,C8S10,Topic Test 2,10,4,4,0,73,6
70,Thanis,46,C8S10,Full Chapter Test 1,10,3,3,0,183,7
71,Thanis,46,C8S10,Full Chapter Test 2,10,7,7,0,123,3

### Generating Output CSV File :

In [12]:
df_output1.to_csv('./output/output1.csv', index=False,header=True)

In [13]:
df_output2.to_csv('./output/output1.csv', index=False,header=True)